{{#each json}}
<div class="multisteps-form__panel" data-animation="slideHorz">
    <div class="wizard-forms">
        <div class="inner pb-100 clearfix">
            <div class="form-content pera-content">
                <div class="step-inner-content">
                    <span class="step-no bottom-line">{{this.Tema}}</span>
                    <div class="step-progress float-end">
                        <span>{{this.Code}} de 38 preguntas respondidas</span>
                        <div class="step-progress-bar">
                            <div class="progress">
                                <div class="progress-bar" style="width: {{this.ProgressBar}}%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="title-h2">
                        {{this.Marcatemporal}}
                    </span>
                    <div class="alert alert-danger d-none d-inline" role="alert">
                        Debe Seleccionar una opción!
                    </div>
                    <div class="step-box">
                        <div class="row">
                            {{#if this.AprueboRechazo}}
                            <div class="col">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t2">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="2" required />
                                            <label for="">Rechazo</label></span>
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label id="{{this.Code}}2" class="step-box-content text-center relative-position">

                                    <span class="thumbs t4">
                                    </span>


                                    <span class="">
                                        <span><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="4"><label for="">Apruebo</label></span>
                                    </span>
                                </label>
                            </div>
                            {{else if this.MixtaConstitucional}}
                            <div class="col-6">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t2">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="2" required />
                                            <label for="">Mixta</label></span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label id="{{this.Code}}4" class="step-box-content text-center relative-position">

                                    <span class="thumbs t4">
                                    </span>


                                    <span class="">
                                        <span><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="5"><label for="">Constitucional</label></span>
                                    </span>
                                </label>
                            </div>
                            {{else if this.Mujer}}
                            <div class="col">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t2">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="2" required />
                                            <label for="">No</label></span>
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t3">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="3" required />
                                            <label for="">Indiferente</label></span>
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label id="{{this.Code}}2" class="step-box-content text-center relative-position">
                                    <span class="thumbs t4">
                                    </span>
                                    <span class="">
                                        <span><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="4"><label for="">Si</label></span>
                                    </span>
                                </label>
                            </div>
                            {{else if this.Acuerdo}}
                            <div class="col">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t2">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="2" required />
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t4">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="4" required />
                                        </span>
                                    </span>
                                </label>
                            </div>
                            {{else if this.Aportes}}
                            <div class="col">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t3">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="3" required />
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t4">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="4" required />
                                        </span>
                                    </span>
                                </label>
                            </div>
                            {{else if this.Anos}}
                            <div class="col">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t2">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="2" required /><label for="">Mayor a 45</label>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t3">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="3" required /><label for="">Indiferente</label>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t4">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="4" required /><label for="">Menor a 45</label>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            {{else if this.Viva}}
                            <div class="col">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t3">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="3" required />
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t4">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="4" required />
                                        </span>
                                    </span>
                                </label>
                            </div>
                            {{else}}
                            <div class="col">
                                <label id="{{this.Code}}1" class="step-box-content text-center relative-position">

                                    <span class="thumbs  t1">
                                    </span>

                                    <span class="">
                                        <span class=""><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="1" required /></span>
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label id="{{this.Code}}2" class="step-box-content text-center relative-position">

                                    <span class="thumbs t2">
                                    </span>


                                    <span class="">
                                        <span><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="2"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label id="{{this.Code}}3" class="step-box-content text-center relative-position">

                                    <span class="thumbs t3">
                                    </span>

                                    <span class="">
                                        <span><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="3"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label id="{{this.Code}}4" class="step-box-content text-center relative-position">

                                    <span class="thumbs t4">
                                    </span>

                                    <span class="">
                                        <span><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="4"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="col">
                                <label id="{{this.Code}}5" class="step-box-contenttext-center relative-position">

                                    <span class="thumbs t5">
                                    </span>

                                    <span class="">
                                        <span><input class="asd" type="radio" name="question_{{this.Code}}"
                                                value="5"></span>
                                    </span>
                                </label>
                            </div>
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.inner -->
        {{#if this.Last}}
        <div class="actions">
            <ul>
                <li>
                    <span class="js-btn-prev" title="BACK"><i class="fa fa-arrow-left"></i> Atras
                    </span>
                </li>
                <li>
                    <button class="js-btn-next" type="submit" title="submit">
                        Enviar <i class="fa fa-arrow-right"></i>
                    </button>
                </li>
            </ul>
        </div>
        {{else}}
        <div class="actions">
            <ul>
                <li>
                    <span class="js-btn-prev" title="BACK"><i class="js-btn-prev fa fa-arrow-left"></i>
                        Atras
                    </span>
                </li>
                <li>
                    <span class="js-btn-next" title="NEXT">Siguiente <i class="fa fa-arrow-right"></i></span>
                </li>
            </ul>
        </div>
        {{/if}}
    </div>
</div>
{{/each}}