{{#each json}}
	<div class='multisteps-form__panel' data-animation='slideHorz'>
		<div class='wizard-forms'>
			<div class='inner pb-100 clearfix'>
				<div class='form-content pera-content'>
					<div class='step-inner-content'>
						<span class='step-no bottom-line'>{{this.Tema}}</span>
						<div class='step-progress float-end'>
							<span>{{this.Code}} de 29</span>
							<div class='step-progress-bar'>
								<div class='progress'>
									<div class='progress-bar' style='width: {{this.ProgressBar}}%'>
									</div>
								</div>
							</div>
						</div>
						<span class='title-h2'>
							{{this.Pregunta}}
						</span>
						<div class='alert alert-danger d-none d-inline' role='alert'>
							Debe seleccionar una opción!
						</div>
						<div class='step-box'>
							<div class='row'>
								{{#if this._1}}
									<div class='col'>
										<div class='services-select-option'>
											<ul>
												<li class='bg-white asdd'><label><b>Subsidiario.</b>
														(Sólo se hace cargo de las funciones que los privados no pueden o no quieren realizar.)

														<input class='asd' type='radio' name='question_{{this.Code}}' value='1' /></label></li>
												<li class='bg-white asdd'><label><b>Social y democrático de derecho.</b>
														(Consagra derechos y es responsabilidad del Estado proveerlos.)

														<input
															class='asd'
															type='radio'
															name='question_{{this.Code}}'
															value='5'
															required
														/></label></li>
											</ul>
										</div>
									</div>
								{{else if this._2}}
									<div class='col'>
										<div class='services-select-option'>
											<ul>
												<li class='bg-white asdd'><label>“La educación es un deber primordial e ineludible del Estado.”
														Crea un
														<b>Sistema Nacional de educación:</b>
														pública, de calidad, universal y gratuita, como un derecho para todos. (de párvulo a
														universitaria)

														<input
															class='asd'
															type='radio'
															name='question_{{this.Code}}'
															value='5'
															required
														/></label></li>
												<li class='bg-white asdd'><label>“Los padres tienen el derecho preferente y el deber de educar a
														sus hijos.” Privilegia
														<b>que cada familia elija</b>
														según sus posibilidades económicas e intereses.

														<input class='asd' type='radio' name='question_{{this.Code}}' value='1' /></label></li>
											</ul>
										</div>
									</div>
								{{else if this._3}}
									<div class='col'>
										<div class='services-select-option'>
											<ul>
												<li class='bg-white asdd'><label>Existe el derecho a la propiedad y nadie puede ser privado de
														sus bienes, salvo en casos específicos de interés general.
														<br /><br />
														Expropiación: en caso de utilidad pública o de interés nacional. Podrá acudir a un tribunal
														y acceder a una indemnización de mutuo acuerdo.

														<input
															class='asd'
															type='radio'
															name='question_{{this.Code}}'
															value='1'
															required
														/></label></li>
												<li class='bg-white asdd'><label>Existe el derecho de propiedad, excepto sobre los bienes
														comunes e inapropiables, tal como el aire y el agua.
														<br /><br />
														Expropiación: debe estar debidamente fundada. La persona tiene el derecho a que se le
														indemnice por el justo precio, antes de la toma de posesión del bien

														<input class='asd' type='radio' name='question_{{this.Code}}' value='5' /></label></li>
											</ul>
										</div>
									</div>
								{{else if this._4}}
									<div class='col'>
										<div class='services-select-option'>
											<ul>
												<li class='bg-white asdd'><label>El Estado ejecutará
														<b>acciones de salud</b>
														ya sea por la vía pública o privada, con derecho a elegir el sistema de salud.

														<input
															class='asd'
															type='radio'
															name='question_{{this.Code}}'
															value='1'
															required
														/></label></li>
												<li class='bg-white asdd'><label>Se consagra el Derecho a la salud, el
														<b>Sistema Nacional de Salud</b>
														será de carácter universal, público, e integrado (público y privado) y corresponderá al
														estado su rectoría. Los seguros privados serían voluntarios y complementarios.

														<input class='asd' type='radio' name='question_{{this.Code}}' value='5' /></label></li>
											</ul>
										</div>
									</div>
								{{else if this._5}}
									<div class='col'>
										<div class='services-select-option'>
											<ul>
												<li class='bg-white asdd'><label>Se garantiza el derecho al trabajo decente, su protección,
														salud y seguridad, descanso y disfrute del tiempo libre. Se reconoce el trabajo doméstico,
														la libertad de emprender, y prohíbe el trabajo forzado.
														<br /><br />
														Derecho a una remuneración equitativa, justa y suficiente, que asegure sustento al
														trabajador y su familia, garantiza su protección y la de organizaciones sindicales.
														<br /><br />
														Derecho a la sindicalización y a participar de las decisiones de la empresa.

														<input
															class='asd'
															type='radio'
															name='question_{{this.Code}}'
															value='5'
															required
														/></label></li>
												<li class='bg-white asdd'><label>Existe libertad de elección, contratación y el derecho a una
														remuneración Justa. Por su parte, prohíbe la discriminación y la huelga de los funcionarios
														públicos.

														<input class='asd' type='radio' name='question_{{this.Code}}' value='1' /></label></li>
											</ul>
										</div>
									</div>
								{{else if this._6}}
									<div class='col'>
										<div class='services-select-option'>
											<ul>
												<li class='bg-white asdd'><label>La naturaleza tiene derecho a que se proteja su existencia y la
														sociedad tiene el deber de protegerla.
														<br /><br />
														El Estado debe ser ecológicamente responsable, promover la reducción y valorización de
														residuos, la educación ambiental y científica. Además adoptar medidas frente a la Crisis
														climática y ecológica y proteger la biodiversidad.

														<input
															class='asd'
															type='radio'
															name='question_{{this.Code}}'
															value='5'
															required
														/></label></li>
												<li class='bg-white asdd'><label>Las personas tienen el derecho a vivir en un medio ambiente
														libre de contaminación. Es deber del Estado velar por este derecho y tutelar la preservación
														de la naturaleza.

														<input class='asd' type='radio' name='question_{{this.Code}}' value='1' /></label></li>
											</ul>
										</div>
									</div>
								{{else if this._7}}
									<div class='col'>
										<div class='services-select-option'>
											<ul>
												<li class='bg-white asdd'><label>Los particulares tienen derechos sobre las aguas y les otorga
														propiedad sobre ellas.

														<input
															class='asd'
															type='radio'
															name='question_{{this.Code}}'
															value='1'
															required
														/></label></li>
												<li class='bg-white asdd'><label>El agua es un bien natural inapropiable. Se establece el uso
														prioritario para el ser humano, el cuidado del medio ambiente y después para usos privados,
														las autorizaciones de uso son incomerciables.

														<input class='asd' type='radio' name='question_{{this.Code}}' value='5' /></label></li>
											</ul>
										</div>
									</div>
								{{else if this._8}}
									<div class='col'>
										<div class='services-select-option'>
											<ul>
												<li class='bg-white asdd'><label><b>Unitario.</b>
														La soberanía reside esencialmente en la Nación.

														<input
															class='asd'
															type='radio'
															name='question_{{this.Code}}'
															value='1'
															required
														/></label></li>
												<li class='bg-white asdd'><label><b>Plurinacional</b>
														e Intercultural que reconoce la coexistencia de diversas naciones y pueblos en el marco de
														la unidad del Estado.

														<input class='asd' type='radio' name='question_{{this.Code}}' value='5' /></label></li>
											</ul>
										</div>
									</div>
								{{else if this._9}}
									<div class='col'>
										<div class='services-select-option'>
											<ul>
												<li class='bg-white asdd'><label>
														Mantener el actual sistema de seguros privados (AFP)

														<input
															class='asd'
															type='radio'
															name='question_{{this.Code}}'
															value='1'
															required
														/></label></li>
												<li class='bg-white asdd'><label>Terminar con las AFP y cambiar a un sistema de reparto, público
														y solidario. Dejando los seguros privados como adicionales y voluntarios.

														<input class='asd' type='radio' name='question_{{this.Code}}' value='5' /></label></li>
											</ul>
										</div>
									</div>
								{{else if this._10}}
									<div class='col'>
										<div class='services-select-option'>
											<ul>
												<li class='bg-white asdd'><label>Tener Congreso de Senadores y Cámara de Diputados, en el cual
														ambas cámaras tienen las mismas funciones en la creación de normas. (Sistema bicameral
														simétrico)

														<input
															class='asd'
															type='radio'
															name='question_{{this.Code}}'
															value='1'
															required
														/></label></li>
												<li class='bg-white asdd'><label>Tener Congreso de Diputados y una Cámara de las Regiones, en el
														cual las cámaras tienen distintas funciones. (Sistema bicameral asimétrico)

														<input class='asd' type='radio' name='question_{{this.Code}}' value='5' /></label></li>
											</ul>
										</div>
									</div>
								{{else if this._11}}
									<div class='col'>
										<div class='services-select-option'>
											<ul>
												<li class='bg-white asdd'><label><b>Indirecta</b>
														a través de elecciones periódicas.

														<input
															class='asd'
															type='radio'
															name='question_{{this.Code}}'
															value='1'
															required
														/></label></li>
												<li class='bg-white asdd'><label><b>Indirecta y directa</b>, con elecciones periódicas y un
														grupo de ciudadanos que alcance cierto porcentaje del padrón podrá: Presentar una iniciativa
														de Ley (3%), de derogación de Ley (5%), Referéndum de reforma constitucional (10%) o incluso
														de reemplazo de la constitución (25%) 5

														<input class='asd' type='radio' name='question_{{this.Code}}' value='5' /></label></li>
											</ul>
										</div>
									</div>
								{{else if this._12}}
									<div class='col'>
										<div class='services-select-option'>
											<ul>
												<li class='bg-white asdd'><label>La ley en ningún caso podrá establecer monopolio estatal sobre
														los medios de comunicación social.

														<input
															class='asd'
															type='radio'
															name='question_{{this.Code}}'
															value='1'
															required
														/></label></li>
												<li class='bg-white asdd'><label>El Estado impedirá la concentración de la propiedad de los
														medios de comunicación e información. En ningún caso se podrá establecer el monopolio
														estatal sobre ellos. El Estado fomenta la creación de medios y su desarrollo a nivel
														regional, local y comunitario.

														<input class='asd' type='radio' name='question_{{this.Code}}' value='5' /></label></li>
											</ul>
										</div>
									</div>
								{{else if this._12}}
									<div class='col'>
										<div class='services-select-option'>
											<ul>
												<li class='bg-white asdd'><label>La ley en ningún caso podrá establecer monopolio estatal sobre
														los medios de comunicación social.

														<input
															class='asd'
															type='radio'
															name='question_{{this.Code}}'
															value='2'
															required
														/></label></li>
												<li class='bg-white asdd'><label>El Estado impedirá la concentración de la propiedad de los
														medios de comunicación e información. En ningún caso se podrá establecer el monopolio
														estatal sobre ellos. El Estado fomenta la creación de medios y su desarrollo a nivel
														regional, local y comunitario.

														<input class='asd' type='radio' name='question_{{this.Code}}' value='4' /></label></li>
											</ul>
										</div>
									</div>
								{{else if this._13}}
									<div class='col'>
										<label id='{{this.Code}}1' class='step-box-content text-center relative-position'>

											<span class='thumbs t2'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='1' /></span>
											</span>
										</label>
									</div>
									<div class='col'>
										<label id='{{this.Code}}3' class='step-box-content text-center relative-position'>

											<span class='thumbs t3'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='3' /></span>
											</span>
										</label>
									</div>
									<div class='col'>
										<label id='{{this.Code}}5' class='step-box-content text-center relative-position'>

											<span class='thumbs t4'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='5' /></span>
											</span>
										</label>
									</div>
								{{else if this._14}}
									<div class='col'>
										<label id='{{this.Code}}1' class='step-box-content text-center relative-position'>

											<span class='thumbs t2'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='1' /></span>
											</span>
										</label>
									</div>
									<div class='col'>
										<label id='{{this.Code}}3' class='step-box-content text-center relative-position'>

											<span class='thumbs t3'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='3' /></span>
											</span>
										</label>
									</div>
									<div class='col'>
										<label id='{{this.Code}}5' class='step-box-content text-center relative-position'>

											<span class='thumbs t4'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='5' /></span>
											</span>
										</label>
									</div>
								{{else if this._15}}
									<div class='col'>
										<label id='{{this.Code}}1' class='step-box-content text-center relative-position'>

											<span class='thumbs t2'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='1' /></span>
											</span>
										</label>
									</div>
									<div class='col'>
										<label id='{{this.Code}}3' class='step-box-content text-center relative-position'>

											<span class='thumbs t3'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='3' /></span>
											</span>
										</label>
									</div>
									<div class='col'>
										<label id='{{this.Code}}5' class='step-box-content text-center relative-position'>

											<span class='thumbs t4'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='5' /></span>
											</span>
										</label>
									</div>
								{{else if this._16}}
									<div class='col'>
										<label id='{{this.Code}}1' class='step-box-content text-center relative-position'>

											<span class='thumbs t2'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='1' /></span>
											</span>
										</label>
									</div>
									<div class='col'>
										<label id='{{this.Code}}3' class='step-box-content text-center relative-position'>

											<span class='thumbs t3'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='3' /></span>
											</span>
										</label>
									</div>
									<div class='col'>
										<label id='{{this.Code}}5' class='step-box-content text-center relative-position'>

											<span class='thumbs t4'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='5' /></span>
											</span>
										</label>
									</div>
								{{else if this._17}}
									<div class='col'>
										<label id='{{this.Code}}1' class='step-box-content text-center relative-position'>

											<span class='thumbs t2'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='1' /></span>
											</span>
										</label>
									</div>
									<div class='col'>
										<label id='{{this.Code}}3' class='step-box-content text-center relative-position'>

											<span class='thumbs t3'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='3' /></span>
											</span>
										</label>
									</div>
									<div class='col'>
										<label id='{{this.Code}}5' class='step-box-content text-center relative-position'>

											<span class='thumbs t4'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='5' /></span>
											</span>
										</label>
									</div>
								{{else}}
									<div class='col'>
										<label id='{{this.Code}}2' class='step-box-content text-center relative-position'>

											<span class='thumbs t2'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='2' /></span>
											</span>
										</label>
									</div>
									<div class='col'>
										<label id='{{this.Code}}3' class='step-box-content text-center relative-position'>

											<span class='thumbs t3'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='3' /></span>
											</span>
										</label>
									</div>
									<div class='col'>
										<label id='{{this.Code}}4' class='step-box-content text-center relative-position'>

											<span class='thumbs t4'>
											</span>

											<span class=''>
												<span><input class='asd' type='radio' name='question_{{this.Code}}' value='4' /></span>
											</span>
										</label>
									</div>
								{{/if}}

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.inner -->
			{{#if this.Last}}
				<div class='actions'>
					<ul>
						<li>
							<span class='js-btn-prev' title='Atrás'><i class='fa fa-arrow-left'></i>
								Atras
							</span>
						</li>
						<li>
							<button class='js-btn-next' type='submit' title='Enviar'>
								Enviar
								<i class='fa fa-arrow-right'></i>
							</button>
						</li>
					</ul>
				</div>
			{{else}}
				<div class='actions'>
					<ul>
						<li>
							<span class='js-btn-prev' title='Atrás'><i class='js-btn-prev fa fa-arrow-left'></i>
								Atras
							</span>
						</li>
						<li>
							<span class='js-btn-next' title='Siguiente'>Siguiente <i class='fa fa-arrow-right'></i></span>
						</li>
					</ul>
				</div>
			{{/if}}
		</div>
	</div>
{{/each}}