<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <div class="col-12">
                    <h5><a href="https://brujulaconstituyente.cl">brujulaconstituyente.cl</a> </h5>
                    <h3><span class="text-danger">{{#if resultado.name}}{{resultado.name}}{{/if}}</h3>
                    <h3 class="text-uppercase">Tus resultados son:</h3>
                </div>
            </div>
            <br>
            {{!-- {{#if resultado.coherencia}}
            <div class="alert alert-danger" role="alert">
                {{resultado.coherencia}}
            </div>
            {{/if}} --}}
            <div class="row border" style="width: 18rem;">
                <div class="col-sm-12 col-md-12" style="background-color: #{{changeColor resultado.mejoresCandidatos.0.Porcentaje_Cercania}}; color: #fff ;
                                    font-size: 34px; text-align: center;">
                    {{resultado.mejoresCandidatos.0.Porcentaje_Cercania}}%
                </div>
            </div>
            <div class="row border" style="width: 18rem;">
                <div class="col-sm-12 h6">
                    <center><strong style="font-size: 40px;">{{resultado.mejoresCandidatos.0.Nombre1}}</strong></center>
                </div>
            </div>
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top pt-3"
                        src="./assets/img/plebiscito/{{resultado.mejoresCandidatos.0.Codigo_candidato}}.png"
                        style="height: 350px;" alt="Card image cap">

                    <div class="card-body">
                        <p class="card-text">
                        <div class="row border">
                            <div class="col-sm-3 col-md-4">
                                RRSS:
                            </div>
                            <div class="col-sm-9 h6">
                                <ul class="d-inline-flex">
                                    <li class="nav-item">
                                        <ul class="list-inline-mb-0">
                                            {{#if resultado.mejoresCandidatos.0.Web}}
                                            <li class="list-inline-item"><a href="{{resultado.mejoresCandidatos.0.Web}}" target="_blank"><img
                                                        src="./assets/img/rrss/web.png" width="32" alt=""></a></li>
                                            {{/if}}
                                            <li class="list-inline-item"><a
                                                    href="{{resultado.mejoresCandidatos.0.GrandesAportes}}"
                                                    target="_blank"><img src="./assets/img/rrss/twitter.png" width="32"
                                                        alt=""></a></li>
                                            <li class="list-inline-item"><a
                                                    href="{{resultado.mejoresCandidatos.0.NAportantes}}"
                                                    target="_blank"><img src="./assets/img/rrss/instagram.png"
                                                        width="32" alt=""></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p></p>
                        <br>
                        <div class="row border">
                            <div class="col-sm-12 col-md-12" style="background-color: #{{changeColor resultado.mejoresCandidatos.1.Porcentaje_Cercania}}; color: #fff ;
                                    font-size: 24px; text-align: center;">
                                {{resultado.mejoresCandidatos.1.Porcentaje_Cercania}}%
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-12 h6">
                                <center><strong
                                        style="font-size: 24px;">{{resultado.mejoresCandidatos.1.Nombre1}}</strong>
                                </center>
                            </div>
                        </div>

                        </p>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-sm-6 col-md-6 h4">
            <h1>Sigue informandote!</h1>
            <br>
            <ul>
                <li> (Y no te dejes llevar por mentiras)</li>
                <br>
                <li>Busca tu mesa y si eres vocal en:</li>
                <li><a href="https://consulta.servel.cl/" target="_blank">https://consulta.servel.cl/</a></li>
                <br>
                <li>- <a href="./assets/files/GuíaprácticadelborradorNuevaConstitución.pdf" target="_blank">Guía practica Constitución 2022</a></li>
                <li>- <a href="./assets/img/plebiscito/legitimidad.jpeg" target="_blank">Legitimidad</a></li>
                <li>- <a href="./assets/files/nc.pdf" target="_blank">Constitución 2022</a></li>
                <li>- <a href="./assets/files/Constitucion1980.pdf" target="_blank">Constitución 1980</a></li>
                <li>- Financiamiento</li>
                <li>- Partidos y organizaciones</li>
                <br>
                <li><b>Otras Fuentes de interés:</b></li>
                <li>- <a href="https://plataformacontexto.cl/contexto_factual/" target="_blank">Contexto Factual</a></li>
                <li>- <a href="https://www.chileconvencion.cl/" target="_blank">La convención</a></li>
                <li>- <a href="https://laneta.cl/" target="_blank"> Laneta</a></li>
                <br><br>
                <li>
                    <a href="/"><button type="button" class="btn btn-lg btn-success">Volver a participar</button></a>
                </li>
            </ul>
        </div>
    </div>
</div>