<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <div class="col-12">
                    <h4><a href="https://brujulaconstituyente.cl">brujulaconstituyente.cl</a> </h4>
                    <br>
                    <h3><span class="text-danger">{{#if resultado.name}}{{resultado.name}}{{/if}}</span> Acabas de poner
                        a prueba a <span class="text-danger">{{resultado.informacion.N_Candidatos}}</span> candidatos
                        del
                        distrito <span class="text-danger">{{resultado.informacion.Distrito}}</span>
                    </h3>
                    <br>
                    <h3 class="text-uppercase">Resultados:</h3>
                    <br>
                    <div class="row">
                        <div class="col-12 text-right">

                            <div class="row">
                                <div class="col">DISTRITO:</div>
                                <div class="col text-right">{{resultado.informacion.Distrito}}</div>
                            </div>
                            <div class="row">
                                <div class="col">HABITANTES:</div>
                                <div class="col text-right">{{resultado.informacion.Poblacion_del_distrito}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">CANDIDATOS:</div>
                                <div class="col text-right">{{resultado.informacion.N_Candidatos}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">CUPOS:</div>
                                <div class="col text-right">{{resultado.informacion.Cupos}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {{#if resultado.coherencia}}
            <div class="alert alert-danger" role="alert">
                {{resultado.coherencia}}
            </div>
            {{/if}}
            <h3 class="text-uppercase">Los más cercanos</h3>
            <br>
            {{#each resultado.mejoresCandidatos}}
            <div class="row">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row border">
                            <div class="col-sm-12 h6">
                                <strong>{{this.Nombre1}} {{this.Nombre2}} {{this.Apellido1}} {{this.Apellido2}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Numero:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>{{this.Codigo_candidato}}</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Lista:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>{{this.Lista}}</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Web:
                            </div>
                            <div class="col-sm-9">
                                <a class="" href="{{this.Web}}" target="_blank">{{this.Web}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3" style="background-color: #61b329; color: #fff ;
                                    font-size: 50px; text-align: center;">
                        {{this.Porcentaje_Cercania}}
                    </div>
                </div>
            </div>
            <br>
            {{/each}}

            <hr class=" compass">
            <h3 class="text-uppercase">El más distante</h3>
            <br>
            <div class="row">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row border">
                            <div class="col-sm-12 h6">
                                <strong>{{resultado.peorCandidato.Nombre1}} {{resultado.peorCandidato.Nombre2}}
                                    {{resultado.peorCandidato.Apellido1}} {{resultado.peorCandidato.Apellido2}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Numero:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>{{resultado.peorCandidato.Codigo_candidato}}</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Lista:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>{{resultado.peorCandidato.Lista}}</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Web:
                            </div>
                            <div class="col-sm-9">
                                <a class="" href="{{resultado.peorCandidato.Web}}"
                                    target="_blank">{{resultado.peorCandidato.Web}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3" style="background-color: red; color: #fff ;
                                    font-size: 50px; text-align: center;">
                        {{resultado.peorCandidato.Porcentaje_Cercania}}
                    </div>
                </div>
            </div>
            <div class="d-sm-none d-md-block">
                <br><br>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 h4">
            <h1>Sigue informandote!</h1>
            <br>
            <ul>
                <li>Conoce a los candidatos:</li>
                <li><a href="https://quienesson.cl/distrito-{{resultado.informacion.Distrito}}"
                        target="_blank">https://quienesson.cl/</a></li>
                <br>
                <li>El Proceso:</li>
                <li><a href="https://plataformacontexto.cl/" target="_blank">https://plataformacontexto.cl/</a></li>
                <br>
                <li>Participa:</li>
                <li><a href="https://ahoranostocaparticipar.cl/" target="_blank">https://ahoranostocaparticipar.cl/</a>
                </li>
                <br>
                <li>
                    <a href="/"><button type="button" class="btn btn-lg btn-success">Volver a participar</button></a>
                </li>
            </ul>
        </div>
    </div>
</div>