<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <div class="col-12">
                    <h4><a href="https://brujulaconstituyente.cl">brujulaconstituyente.cl</a> </h4>
                    <br>
                    <h3><span class="text-danger">{{#if resultado.name}}{{resultado.name}}{{/if}}</h3>
                    <br>
                    <h3 class="text-uppercase">Tus resultados son:</h3>
                </div>
            </div>
            <br>
{{!--             {{#if resultado.coherencia}}
            <div class="alert alert-danger" role="alert">
                {{resultado.coherencia}}
            </div>
            {{/if}} --}}
            <br>
            {{#each resultado.mejoresCandidatos}}
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top pt-3" src="./assets/img/candidates/{{this.Codigo_candidato}}.png"
                        style="height: 350px;" alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title">{{this.Nombre1}}</h5>
                        <p class="card-text">
                        <div class="row border">
                            <div class="col-sm-3 col-md-4">
                                Partido:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>{{this.Partido}}</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-4">
                                Pacto:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>{{this.Lista}}</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-4">
                                RRSS:
                            </div>
                            <div class="col-sm-9 h6">
                                    <ul class="d-inline-flex">
                                        <li class="nav-item">
                                            <ul class="list-inline-mb-0">
                                                {{#if this.Web}}
                                                <li class="list-inline-item"><a href="{{this.Web}}" target="_blank"><img src="./assets/img/rrss/web.png" alt=""></a></li>
                                                {{/if}}           
                                                <li class="list-inline-item"><a href="{{this.GrandesAportes}}" target="_blank"><img src="./assets/img/rrss/twitter.png" alt=""></a></li>
                                                <li class="list-inline-item"><a href="{{this.NAportantes}}" target="_blank"><img src="./assets/img/rrss/instagram.png" alt=""></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                            </div>
                        </div> 
                        
                        <div class="row border">
                            
                            
                            <div class="col-sm-12 col-md-12" style="background-color: #{{changeColor this.Porcentaje_Cercania}}; color: #fff ;
                                    font-size: 34px; text-align: center;">
                                {{this.Porcentaje_Cercania}}%
                            </div>
                        </div>

                        </p>
                    </div>
                </div>
            </div>
            <br>
            {{/each}}
        </div>
        <div class="col-sm-6 col-md-6 h4">
            <h1>Sigue informandote!</h1>
            <br>
            <ul>
                <li>Servel (fechas, programas,etc):</li>
                <li><a href="https://presidenciales2021.servel.cl/"
                        target="_blank">https://presidenciales2021.servel.cl/</a></li>
                <br>
                <li>Busca tu mesa y si eres vocal en:</li>
                <li><a href="https://consulta.servel.cl/" target="_blank">https://consulta.servel.cl/</a></li>
                <br>
                <li><a href="./assets/files/financiamiento.pdf" target="_blank">Quienes los financian?</a></li>
                <br>
                <li>
                    <a href="/"><button type="button" class="btn btn-lg btn-success">Volver a participar</button></a>
                </li>
            </ul>
        </div>
    </div>
</div>